body {
    background-color: #d4c4b9; /* 원하는 배경색으로 수정하세요 */
  }


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  nav button {
    padding: 3px;
  }
  
  nav a {
    text-decoration: none; /* 언더라인 제거 */
    color: black; /* 링크 색상 수정 */
  }

  h1 a {
    text-decoration: none; /* 언더라인 제거 */
    color: black; /* 글자색 수정 */
  }